@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
$body-bg: #c0f5c0;
$primary: #800080;
$font-family: 'Raleway', sans-serif;

h2 {
    font-family: 'Playfair Display SC', serif;
}

@import '~bootstrap/scss/bootstrap.scss';